.sidebar-container {
  background: #111827;
  width: 20rem;
  height: 100vh;
  padding: 0 5px;
  position: fixed;
  top: 0;
  z-index: 11;
}

.sidebar-under {
  display: none;
}

@keyframes expand {
  0% {
    width: 0rem;
  }

  100% {
    width: 20rem;
  }
}

.bank-logo {
  width: 2rem;
}

.title {
  font-size: x-large;
  font-weight: bolder;
  padding: 1rem;
  color: #3b82f6;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sidebuttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 1rem 0;
}

.sidebutton {
  box-sizing: content-box;
  height: 30px;
  padding: 1rem;
  background: #253453;
  border-radius: 5px;
  color: white;
  font-weight: normal;
  transition: all ease 0.2s;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.sidebutton.logout {
  background: #532525 !important;
}

.sidebutton.chosen {
  background: #436dc0;
  border-left: 5px solid #5587e9;
}

.sidebutton:hover {
  color: white;
}

.sidebutton:not(.chosen):hover {
  background: #354b77;
}

hr {
  opacity: 0.5;
}

@media screen and (max-width: 767px) {
  .sidebar-container {
    width: 16rem;
    transform: translateX(-0rem);
    transition: all ease-out 0.25s;

    margin-right: 50px;
    backdrop-filter: blur(2px);
  }

  .sidebar-under {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    z-index: 10;
  }

  .sidebar-container.close {
    transform: translateX(-16rem);
  }
}
